In [2]:
import pandas as pd

# DataFrame definition

In [3]:
cid_df = pd.read_csv("../dataset/raw/CID.csv")
cid_df.head()

   molecule         SMILES           is_solvent
0        -1            NaN  TRUE (Paraffin Oil)
1        -2            NaN   TRUE (Mineral Oil)
2  10313079      CN(C)C.Cl                FALSE
3     10400  C1CCCC(=O)CC1                FALSE
4     10430   CC(C)CC(=O)O                FALSE

In [3]:
task2_components = pd.read_csv("../dataset/raw/TASK2_Component_definition.csv")
task2_components.head()

   id  CID  dilution solvent
0   1   -1       1.0      nt
1   2   -2       0.1      pg
2   3   -3       0.5      pg
3   4   -4       1.0      nt
4   5   -5       1.0      nt

In [5]:
task2_components_v1 = pd.read_csv("../dataset/raw/TASK2_Components_definition_fixed_V1.csv")
task2_components_v1.head()

   id  molecule  dilution       solvent
0   1        -1    1.0000            nt
1   2        -2    0.1000            pg
2  11  10313079    0.2000            pg
3  12     10400    0.0010            pg
4  13     10400    0.0023  paraffin oil

In [6]:
task2_mix_mol_labels = pd.read_csv("../dataset/raw/TASK2_Train_mixture_Dataset.csv")
task2_mix_mol_labels.head()

,stimulus,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,Woody,Pine,Floral,...,Phenolic,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic
0,AA007,3.888462,5.650000,0.653846,2.807692,0.076923,0.038462,0.000000,0.115385,0.461538,...,0.153846,0.192308,0.153846,0.269231,0.000000,0.346154,0.076923,0.269231,0.000000,0.000000
1,AA085,7.653846,4.765385,0.076923,0.000000,0.692308,0.730769,0.000000,0.000000,0.153846,...,0.153846,0.000000,2.346154,2.346154,0.923077,0.076923,0.692308,0.000000,0.115385,0.000000
2,AA088,6.111538,4.261538,0.884615,0.038462,0.692308,0.115385,0.153846,0.000000,0.192308,...,0.769231,0.000000,0.846154,0.038462,0.038462,0.653846,0.346154,0.192308,0.384615,0.192308
3,AA097,6.246154,6.411538,0.307692,2.538462,0.076923,0.192308,0.000000,0.000000,0.038462,...,0.000000,0.000000,0.000000,0.076923,0.000000,0.384615,0.000000,0.000000,0.000000,0.000000
4,AA142,6.430769,4.923077,0.076923,0.000000,0.038462,0.000000,0.230769,0.000000,0.807692,...,0.269231,0.000000,0.153846,0.000000,0.038462,0.038462,0.000000,0.115385,0.038462,0.000000

In [7]:
task1_stimulus = pd.read_csv("../dataset/raw/TASK1_Stimulus_definition.csv")
task1_stimulus.head()

  stimulus  molecule  dilution solvent Intensity_label
0     B253       177     0.001      PG               L
1     B003       177     0.100      PG               H
2     B670       240     0.400      PG               H
3     B668       240     0.001      PG               L
4     D014       263     0.200      PG               H

In [8]:
task1_mol_labels = pd.read_csv("../dataset/raw/TASK1_training.csv")
task1_mol_labels.head()

,stimulus,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,Woody,Pine,Floral,...,Phenolic,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic
0,A095,7.579412,2.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.235294,...,0.000000,0.352941,0.000000,0.029412,0.411765,0.176471,0.029412,0.088235,0.029412,0.000000
1,A240,5.976471,5.397059,1.088235,0.058824,1.264706,0.205882,0.735294,0.647059,0.117647,...,0.176471,0.000000,0.470588,0.411765,0.088235,0.147059,0.000000,0.235294,0.500000,0.058824
2,A315,5.761765,5.176471,0.411765,0.000000,0.382353,0.000000,0.058824,0.147059,0.000000,...,0.147059,0.029412,0.441176,0.235294,0.058824,0.176471,1.911765,0.000000,0.382353,0.088235
3,A355,5.947059,5.729412,0.235294,0.058824,0.058824,0.088235,0.058824,0.176471,0.088235,...,0.117647,0.000000,0.147059,0.147059,0.117647,0.000000,0.117647,0.352941,0.294118,0.029412
4,A430,4.888235,5.264706,0.176471,0.000000,0.029412,0.000000,0.000000,0.058824,0.235294,...,0.000000,0.000000,0.058824,0.000000,0.058824,0.058824,0.029412,0.000000,0.000000,0.000000

In [9]:
task2_single_mol_labels = pd.read_csv("../dataset/raw/Task2_single_RATA.csv")
task2_single_mol_labels.head()

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
0,A014,NaN,5363388,0.0100,6.329412,6.500000,0.852941,0.323529,0.147059,0.088235,...,0.0,0.205882,0.176471,0.029412,0.000000,0.205882,0.058824,0.088235,0.0,NaN
1,A192,NaN,32594,0.0001,3.882353,5.067647,0.500000,0.323529,0.176471,0.000000,...,0.0,0.117647,0.176471,0.117647,0.000000,0.117647,0.000000,0.000000,0.0,NaN
2,A351,NaN,31265,0.0001,3.144118,5.391176,0.147059,0.117647,0.000000,0.088235,...,0.0,0.058824,0.058824,0.000000,0.000000,0.176471,0.029412,0.000000,0.0,NaN
3,A557,NaN,3314,0.0050,5.064706,5.823529,0.117647,0.000000,0.588235,0.117647,...,0.0,0.176471,0.000000,0.000000,0.000000,0.029412,0.000000,0.088235,0.0,NaN
4,A800,NaN,6561,0.0005,3.432353,5.017647,0.205882,0.000000,0.029412,0.000000,...,0.0,0.029412,0.000000,0.058824,0.029412,0.058824,0.000000,0.000000,0.0,NaN

In [10]:
task2_single_mol_labels_v1 = pd.read_csv("../dataset/raw/Task2_single_RATA_fixed_V1.csv")
task2_single_mol_labels_v1.head()

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
0,A014,Refer to TASK1_Stimulus_definition.csv,5363388,0.0100,6.329412,6.500000,0.852941,0.323529,0.147059,0.088235,...,0.0,0.205882,0.176471,0.029412,0.000000,0.205882,0.058824,0.088235,0.0,NaN
1,A192,Refer to TASK1_Stimulus_definition.csv,32594,0.0001,3.882353,5.067647,0.500000,0.323529,0.176471,0.000000,...,0.0,0.117647,0.176471,0.117647,0.000000,0.117647,0.000000,0.000000,0.0,NaN
2,A351,Refer to TASK1_Stimulus_definition.csv,31265,0.0001,3.144118,5.391176,0.147059,0.117647,0.000000,0.088235,...,0.0,0.058824,0.058824,0.000000,0.000000,0.176471,0.029412,0.000000,0.0,NaN
3,A557,Refer to TASK1_Stimulus_definition.csv,3314,0.0050,5.064706,5.823529,0.117647,0.000000,0.588235,0.117647,...,0.0,0.176471,0.000000,0.000000,0.000000,0.029412,0.000000,0.088235,0.0,NaN
4,A800,Refer to TASK1_Stimulus_definition.csv,6561,0.0005,3.432353,5.017647,0.205882,0.000000,0.029412,0.000000,...,0.0,0.029412,0.000000,0.058824,0.029412,0.058824,0.000000,0.000000,0.0,NaN

In [11]:
task2_single_mol_labels_v2 = pd.read_csv("../dataset/raw/Task2_single_RATA_fixed_V2.csv")
task2_single_mol_labels_v2.head()

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
0,A014,Refer to TASK1_Stimulus_definition.csv,5363388,0.0100,6.329412,6.500000,0.852941,0.323529,0.147059,0.088235,...,0.0,0.205882,0.176471,0.029412,0.000000,0.205882,0.058824,0.088235,0.0,NaN
1,A192,Refer to TASK1_Stimulus_definition.csv,32594,0.0001,3.882353,5.067647,0.500000,0.323529,0.176471,0.000000,...,0.0,0.117647,0.176471,0.117647,0.000000,0.117647,0.000000,0.000000,0.0,NaN
2,A351,Refer to TASK1_Stimulus_definition.csv,31265,0.0001,3.144118,5.391176,0.147059,0.117647,0.000000,0.088235,...,0.0,0.058824,0.058824,0.000000,0.000000,0.176471,0.029412,0.000000,0.0,NaN
3,A557,Refer to TASK1_Stimulus_definition.csv,3314,0.0050,5.064706,5.823529,0.117647,0.000000,0.588235,0.117647,...,0.0,0.176471,0.000000,0.000000,0.000000,0.029412,0.000000,0.088235,0.0,NaN
4,A800,Refer to TASK1_Stimulus_definition.csv,6561,0.0005,3.432353,5.017647,0.205882,0.000000,0.029412,0.000000,...,0.0,0.029412,0.000000,0.058824,0.029412,0.058824,0.000000,0.000000,0.0,NaN

In [9]:
task2_stimulus = pd.read_csv("../dataset/raw/TASK2_Stimulus_definition.csv")
task2_stimulus.head()

    id components
0  166        121
1  180        412
2  199        442
3  204        345
4  375        133

In [12]:
task2_stimulus_v1 = pd.read_csv("../dataset/raw/TASK2_Stimulus_definition_fixed_V1.csv")
task2_stimulus_v1.head()

    id components
0  166        121
1  199        441
2  204        344
3  423        155
4  588        526

# Missing CIDs in CID.csv

In [7]:
cid_df_ids = set(cid_df["molecule"].unique())
task2_components_ids = set(task2_components["CID"].unique())
task1_stimulus_ids = set(task1_stimulus["molecule"].unique())

In [8]:
task2_components_ids - cid_df_ids

{-9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 1183,
 5144,
 6054,
 6501,
 7601,
 7755,
 7802,
 8314,
 8363,
 10947,
 10976,
 11684,
 12587,
 21059,
 21648,
 31266,
 60985,
 102861,
 637563,
 6429343}

In [9]:
task1_stimulus_ids - cid_df_ids

set()

# Missing solvent label definition

In [10]:
task2_components["solvent"].unique()

array(['nt', 'pg', 'paraffin oil', 'dep', '99% ethanol', '90% ethanol',
       '1,2-propanediol', 'mineral oil'], dtype=object)

In [11]:
task1_stimulus["solvent"].unique()

array(['PG', 'NT', 'DEP'], dtype=object)

# Missing stimulus information to differentiate them (TASK2 single mol)

In [12]:
task2_single_mol_labels[task2_single_mol_labels["components"] == 288]

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
156,G523,288.0,6276,0.01,3.875,3.946875,0.34375,0.125,0.187500,0.0,...,0.15625,0.0,0.0,0.093750,0.000000,0.312500,0.125000,0.0625,0.0,NaN
181,L973,288.0,6276,0.01,3.780,5.060000,0.40000,0.000,0.266667,0.1,...,0.10000,0.0,0.1,0.133333,0.066667,0.133333,0.066667,0.0000,0.0,NaN

In [13]:
task1_stimulus[task1_stimulus["stimulus"] == "G523"]

   stimulus  molecule  dilution solvent Intensity_label
34     G523      6276      0.01      PG               L

In [14]:
task2_single_mol_labels[task2_single_mol_labels["components"] == 76]

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
67,A244,76.0,12180,0.003,4.044118,4.391176,0.058824,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.058824,0.0,0.0,0.0,NaN
180,L218,76.0,12180,0.003,5.460000,4.210000,0.166667,0.033333,0.166667,0.033333,...,0.0,0.0,0.033333,0.366667,0.0,0.300000,0.0,0.0,0.0,NaN

In [15]:
task1_stimulus[task1_stimulus["stimulus"] == "A244"]

    stimulus  molecule  dilution solvent Intensity_label
164     A244     12180     0.003      PG               L

# Mixture definition typo (duplication of component)

In [16]:
task2_stimulus[task2_stimulus["id"] == "C852"]

       id components
941  C852    338;338

In [17]:
task2_components[task2_components["id"] == 338]

      id   CID  dilution solvent
337  338  6920       0.3      pg

In [18]:
task1_stimulus[task1_stimulus["stimulus"] == "C852"]

   stimulus  molecule  dilution solvent Intensity_label
49     C852      6920       0.3      PG               H

In [26]:
task2_single_mol_labels[task2_single_mol_labels["stimulus"] == "C852"]

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
30,C852,NaN,6920,0.3,6.886667,3.93,0.133333,0.066667,0.3,0.0,...,0.0,0.733333,0.1,0.3,0.533333,0.233333,0.366667,0.3,0.0,NaN

In [25]:
task1_mol_labels[task1_mol_labels["stimulus"] == "C852"]

,stimulus,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,Woody,Pine,Floral,...,Phenolic,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic
188,C852,6.886667,3.93,0.133333,0.066667,0.3,0.0,0.066667,0.266667,0.366667,...,0.4,0.0,0.733333,0.1,0.3,0.533333,0.233333,0.366667,0.3,0.0

# Misalignment between Stimulus ID and CID in Task2 single molecule data

In [10]:
task2_single_mol_labels

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
0,A014,NaN,5363388,0.0100,6.329412,6.500000,0.852941,0.323529,0.147059,0.088235,...,0.000000,0.205882,0.176471,0.029412,0.000000,0.205882,0.058824,0.088235,0.000000,NaN
1,A192,NaN,32594,0.0001,3.882353,5.067647,0.500000,0.323529,0.176471,0.000000,...,0.000000,0.117647,0.176471,0.117647,0.000000,0.117647,0.000000,0.000000,0.000000,NaN
2,A351,NaN,31265,0.0001,3.144118,5.391176,0.147059,0.117647,0.000000,0.088235,...,0.000000,0.058824,0.058824,0.000000,0.000000,0.176471,0.029412,0.000000,0.000000,NaN
3,A557,NaN,3314,0.0050,5.064706,5.823529,0.117647,0.000000,0.588235,0.117647,...,0.000000,0.176471,0.000000,0.000000,0.000000,0.029412,0.000000,0.088235,0.000000,NaN
4,A800,NaN,6561,0.0005,3.432353,5.017647,0.205882,0.000000,0.029412,0.000000,...,0.000000,0.029412,0.000000,0.058824,0.029412,0.058824,0.000000,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,J622,340.0,700,0.5000,5.503571,2.250000,0.000000,0.000000,0.178571,0.000000,...,0.000000,0.000000,0.000000,0.071429,0.000000,0.000000,0.107143,0.000000,0.000000,NaN
178,J670,130.0,18840,0.0050,6.076667,3.223333,0.066667,0.000000,0.200000,0.000000,...,0.066667,0.433333,0.000000,0.633333,0.000000,0.066667,0.100000,0.000000,0.133333,NaN
179,K853,498.0,8452,0.0100,4.815625,5.603125,0.093750,0.062500,0.093750,0.031250,...,0.000000,0.250000,0.312500,0.187500,0.000000,0.593750,0.750000,0.093750,0.218750,NaN
180,L218,76.0,12180,0.0030,5.460000,4.210000,0.166667,0.033333,0.166667,0.033333,...,0.000000,0.000000,0.033333,0.366667,0.000000,0.300000,0.000000,0.000000,0.000000,NaN
181,L973,288.0,6276,0.0100,3.780000,5.060000,0.400000,0.000000,0.266667,0.100000,...,0.100000,0.000000,0.100000,0.133333,0.066667,0.133333,0.066667,0.000000,0.000000,NaN

In [11]:
task2_single_mol_labels[task2_single_mol_labels["stimulus"] == "204"]

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
54,204,344.0,7127,0.2,5.191597,5.094118,0.748428,0.18239,0.54717,0.081761,...,0.050314,0.477987,0.226415,0.132075,0.257862,0.232704,0.194969,0.503145,0.176101,0.0

In [10]:
task2_stimulus[task2_stimulus["id"] == "204"]

    id components
3  204        345

In [11]:
task2_components[task2_components["id"] == 345]

      id   CID  dilution solvent
344  345  7127       0.2      pg

## Quantifiy extent of issue

In [ ]:
task2_single_mol_labels[["stimulus", "components"]]

    stimulus  components
0       A014         NaN
1       A192         NaN
2       A351         NaN
3       A557         NaN
4       A800         NaN
..       ...         ...
177     J622       340.0
178     J670       130.0
179     K853       498.0
180     L218        76.0
181     L973       288.0

[182 rows x 2 columns]

In [ ]:
task2_stimulus_single = task2_stimulus[~task2_stimulus["components"].str.contains(';')].rename(columns={"id": "stimulus"})
task2_stimulus_single

     stimulus components
0         166        121
1         180        412
2         199        442
3         204        345
4         375        133
...       ...        ...
1040     L218         76
1041     L411        476
1042     L788        110
1043     L824        306
1044     L973        288

[340 rows x 2 columns]

In [ ]:
task2_single_mol_labels.sort_values(by="components")

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
107,AN759,1.0,-1,1.0000,6.990000,7.720000,0.133333,0.000000,0.033333,0.000000,...,0.000000,0.100000,0.100000,0.200000,0.233333,0.100000,0.000000,0.000,0.066667,0.0
108,AN874,2.0,-2,0.1000,6.466667,7.800000,0.133333,0.000000,1.033333,0.066667,...,0.000000,0.100000,0.166667,0.000000,0.000000,0.200000,0.000000,0.000,0.000000,0.0
175,J612,11.0,10313079,0.2000,4.940741,2.733333,0.074074,0.074074,0.111111,0.000000,...,0.370370,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000,0.000000,NaN
135,C652,12.0,10400,0.0010,3.530000,4.946667,0.233333,0.000000,0.066667,0.000000,...,0.000000,0.066667,0.000000,0.000000,0.000000,0.333333,0.566667,0.000,0.000000,NaN
68,A245,24.0,10430,0.1000,7.008824,2.479412,0.000000,0.000000,0.000000,0.000000,...,0.323529,0.000000,0.058824,0.147059,0.000000,0.000000,0.000000,0.000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,G804,NaN,5362720,0.0008,4.896875,6.309375,1.187500,2.906250,0.343750,0.125000,...,0.000000,0.062500,0.093750,0.000000,0.125000,0.093750,0.125000,0.125,0.062500,NaN
48,G827,NaN,7150,0.0001,2.703125,5.256250,0.781250,0.625000,0.093750,0.000000,...,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.031250,0.000,0.000000,NaN
49,G911,NaN,7916,0.0001,2.343750,4.931250,0.468750,0.312500,0.062500,0.000000,...,0.000000,0.000000,0.000000,0.156250,0.000000,0.093750,0.093750,0.125,0.000000,NaN
50,I199,NaN,8093,0.0050,5.590000,6.893333,0.233333,0.000000,0.133333,0.000000,...,0.000000,0.000000,0.200000,0.100000,0.000000,0.166667,0.000000,0.000,0.000000,NaN
51,I421,NaN,5282707,1.0000,6.650000,2.620000,0.000000,0.000000,0.066667,0.000000,...,0.533333,0.000000,0.100000,0.100000,0.033333,0.000000,0.166667,0.000,0.000000,NaN

In [ ]:
count = 0
task2_single_mol_labels = task2_single_mol_labels.sort_values(by="components")
for stimulus in task2_single_mol_labels["stimulus"]:
    if stimulus in task2_stimulus_single["stimulus"].unique():
        single_rata_component = task2_single_mol_labels.loc[task2_single_mol_labels["stimulus"] == stimulus]["components"].values[0]
        component_defined = task2_stimulus_single.loc[task2_stimulus_single["stimulus"] == stimulus]["components"].values[0]

        if not pd.isna(single_rata_component) and int(single_rata_component) != int(component_defined):
            print("mismatch")
            print("stimulus id:", stimulus)
            print(single_rata_component)
            print(component_defined)
            count += 1

print("Num mistmatch:", count)

mismatch
stimulus id: 992
339.0
340
mismatch
stimulus id: AQ230
340.0
341
mismatch
stimulus id: J622
340.0
341
mismatch
stimulus id: D323
341.0
342
mismatch
stimulus id: 204
344.0
345
mismatch
stimulus id: AF383
345.0
346
mismatch
stimulus id: H714
348.0
349
mismatch
stimulus id: AI614
356.0
357
mismatch
stimulus id: AF408
360.0
361
mismatch
stimulus id: H644
361.0
362
mismatch
stimulus id: AF925
364.0
365
mismatch
stimulus id: AN132
366.0
367
mismatch
stimulus id: J497
371.0
372
mismatch
stimulus id: B623
380.0
381
mismatch
stimulus id: AQ673
385.0
386
mismatch
stimulus id: J087
385.0
386
mismatch
stimulus id: AF370
388.0
389
mismatch
stimulus id: 715
388.0
389
mismatch
stimulus id: AI722
391.0
392
mismatch
stimulus id: AI094
398.0
399
mismatch
stimulus id: A204
401.0
402
mismatch
stimulus id: C622
414.0
415
mismatch
stimulus id: AF342
415.0
416
mismatch
stimulus id: H127
416.0
417
mismatch
stimulus id: AO016
423.0
424
mismatch
stimulus id: AI856
429.0
430
mismatch
stimulus id: AF610
431.0
432
mismatch
stimulus id: AF586
432.0
433
mismatch
stimulus id: AQ792
432.0
433
mismatch
stimulus id: AF552
433.0
434
mismatch
stimulus id: AI636
441.0
442
mismatch
stimulus id: 199
441.0
442
mismatch
stimulus id: A398
443.0
444
mismatch
stimulus id: E804
445.0
446
mismatch
stimulus id: AI029
457.0
458
mismatch
stimulus id: D313
462.0
463
mismatch
stimulus id: I666
478.0
479
mismatch
stimulus id: D141
483.0
484
mismatch
stimulus id: A866
487.0
488
mismatch
stimulus id: H092
491.0
492
mismatch
stimulus id: 909
493.0
494
mismatch
stimulus id: I769
497.0
498
mismatch
stimulus id: K853
498.0
499
mismatch
stimulus id: D564
498.0
499
mismatch
stimulus id: A072
502.0
503
mismatch
stimulus id: C887
504.0
505
mismatch
stimulus id: J346
515.0
516
mismatch
stimulus id: C749
519.0
520
mismatch
stimulus id: 588
526.0
527
mismatch
stimulus id: AQ692
527.0
528
mismatch
stimulus id: AF890
527.0
528
mismatch
stimulus id: J093
528.0
529
mismatch
stimulus id: AQ892
528.0
529
mismatch
stimulus id: AF986
529.0
530
mismatch
stimulus id: AF445
530.0
531
mismatch
stimulus id: AQ145
530.0
531
Num mistmatch: 56

## Quantifiy extent of issue with fixed version

In [13]:
task2_single_mol_labels_v2[["stimulus", "components"]]

    stimulus                              components
0       A014  Refer to TASK1_Stimulus_definition.csv
1       A192  Refer to TASK1_Stimulus_definition.csv
2       A351  Refer to TASK1_Stimulus_definition.csv
3       A557  Refer to TASK1_Stimulus_definition.csv
4       A800  Refer to TASK1_Stimulus_definition.csv
..       ...                                     ...
177     J622                                     340
178     J670                                     130
179     K853                                     498
180     L218                                      76
181     L973                                     288

[182 rows x 2 columns]

In [14]:
task2_stimulus_single = task2_stimulus_v1[~task2_stimulus_v1["components"].str.contains(';')].rename(columns={"id": "stimulus"})
task2_stimulus_single

    stimulus components
0        166        121
1        199        441
2        204        344
3        423        155
4        588        526
..       ...        ...
778     J622        340
779     J670        130
780     K853        498
781     L218         76
782     L973        288

[130 rows x 2 columns]

In [15]:
task2_single_mol_labels_v2.sort_values(by="components")

,stimulus,components,molecule,dilution,Intensity,Pleasantness,Green,Cucumber,Herbal,Mint,...,Animal,Medicinal,Cooling,Sharp,Chlorine,Alcoholic,Plastic,Ozone,Metallic,NoOdor
107,AN759,1,-1,1.000,6.990000,7.720000,0.133333,0.000000,0.033333,0.000000,...,0.000000,0.100000,0.100000,0.200000,0.233333,0.100000,0.000000,0.000000,0.066667,0.0
175,J612,11,10313079,0.200,4.940741,2.733333,0.074074,0.074074,0.111111,0.000000,...,0.370370,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,NaN
154,F422,117,15037,0.030,5.063889,4.363889,0.444444,0.083333,0.083333,0.000000,...,0.055556,0.166667,0.083333,0.138889,0.055556,0.083333,0.222222,0.055556,0.222222,NaN
135,C652,12,10400,0.001,3.530000,4.946667,0.233333,0.000000,0.066667,0.000000,...,0.000000,0.066667,0.000000,0.000000,0.000000,0.333333,0.566667,0.000000,0.000000,NaN
94,AF899,120,15651,1.000,5.906250,4.168750,0.656250,0.031250,0.156250,0.000000,...,0.187500,0.000000,0.000000,0.156250,0.000000,0.093750,0.000000,0.031250,0.125000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,G757,Refer to TASK1_Stimulus_definition.csv,7150,0.010,6.068750,4.962500,0.000000,0.000000,0.468750,1.218750,...,0.000000,0.906250,0.875000,0.093750,0.250000,0.437500,0.062500,0.125000,0.062500,NaN
29,C830,Refer to TASK1_Stimulus_definition.csv,10890,0.200,6.730000,5.256667,0.233333,0.033333,0.133333,0.033333,...,0.000000,0.366667,0.166667,0.033333,0.366667,0.866667,0.066667,0.100000,0.066667,NaN
30,C852,Refer to TASK1_Stimulus_definition.csv,6920,0.300,6.886667,3.930000,0.133333,0.066667,0.300000,0.000000,...,0.000000,0.733333,0.100000,0.300000,0.533333,0.233333,0.366667,0.300000,0.000000,NaN
24,C682,Refer to TASK1_Stimulus_definition.csv,8051,0.300,7.230000,5.866667,0.266667,0.000000,0.500000,0.333333,...,0.000000,0.833333,0.933333,0.133333,0.066667,0.133333,0.066667,0.066667,0.000000,NaN
0,A014,Refer to TASK1_Stimulus_definition.csv,5363388,0.010,6.329412,6.500000,0.852941,0.323529,0.147059,0.088235,...,0.000000,0.205882,0.176471,0.029412,0.000000,0.205882,0.058824,0.088235,0.000000,NaN

In [16]:
count = 0
task2_single_mol_labels_v2 = task2_single_mol_labels_v2.sort_values(by="components")
for stimulus in task2_single_mol_labels_v2["stimulus"]:
    if stimulus in task2_stimulus_single["stimulus"].unique():
        single_rata_component = task2_single_mol_labels_v2.loc[task2_single_mol_labels_v2["stimulus"] == stimulus]["components"].values[0]
        component_defined = task2_stimulus_single.loc[task2_stimulus_single["stimulus"] == stimulus]["components"].values[0]

        if single_rata_component != "Refer to TASK1_Stimulus_definition.csv" and int(single_rata_component) != int(component_defined):
            print("mismatch")
            print("stimulus id:", stimulus)
            print(single_rata_component)
            print(component_defined)
            count += 1

print("Num mistmatch:", count)

Num mistmatch: 0